/* --------------------------------------------------------------------------------------- */
/* -------------- Created by Jerrod Dutcher, Cameron Jordan, James Moseley, -------------- */
/* ---------------------------- Trent Toyryla, Alden Metzmaker --------------------------- */
/* --------------------------------------------------------------------------------------- */
/* ------------------- This stylesheet is for desktop browser styling -------------------- */
/* --------------------------------------------------------------------------------------- */


/* ------ ------ Applies to All HTML elements ------ ------ */
* {
    box-sizing: border-box;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

/* ------ ------ Standard HTML Styles ------ ------ */

/* ------ body & html ------ */
body, html {
    margin: 0;
    width: 100%;
    min-width: 100%;
    top: 0;
	background-color: #B2AC88;
	background-image: radial-gradient(closest-side, transparent 95%, rgba(255, 203, 164) 90%),
	radial-gradient(closest-side, transparent 95%, rgb(255,203,164) 99%); 
	background-size:40px 40px;
	background-position:0 0, 20px 20px;
}

/* ------ header ------ */
header {
    /* Entire header box area */
    height: 9.5vh;
    max-height: 9.5vh;
    background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 73%);
    position: fixed;
    width: 100%;
    padding: 2.375vh 3%;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    z-index: 100;
    top: 0;
}

header nav {
    /* Header nav bar, buttons that show locations, menu, and contact */ 
    width: 75%;
    display: inline-block;
    height: 4.75vh;
    padding-left: 4vw;
}

header nav a {
    /* Header nav bar links */
    margin: 0 1%;
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    height: 4.75vh;
}

header nav a:hover {
    /* Header nav bar links when hovered over */
    text-decoration: underline;
    background-color: #00578d;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

/* ------ main ------ */
main {
    /* Main webpage area, where main webpage content is */
    width: 95%;
    background: rgba(235, 235, 235, .925);
    border-radius: 8px;
    padding: 1vh 1.5vw;
    margin: 13vh 2vw 4.75vh;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

/* ------ footer ------ */
footer {
    /* Entire footer box area */
    width: 100%;
    height: 11vh;
    background: rgb(2,0,36);
	background: linear-gradient(270deg, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 37%, rgba(90,212,255,1) 73%);
    padding: 1vh 1vw;
    color: rgb(190, 192, 194);
  }

footer div {
    /* The three divs of the footer styling */
    display: inline-block;
    vertical-align: top;
    width:32vw;
    text-align: center;
    height: 9vh;
    padding-top: .55vh;
}

footer div:first-child {
    /* Applies to the first of the three div of the footer */
    padding-top: 0;
}

footer div nav {
    /* The nav bar inside of the footer divs */
    float: none;
}

footer div nav a, footer div address a {
    /* Links inside nav bar and adress links */
    color: rgb(109, 143, 175);
    text-decoration: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

footer div nav a:hover, footer div address a:hover {
    /* Links inside nav bar and adress links when hovered over */
    color: rgb(197, 219, 240);
    text-decoration: underline;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

/* ------ ------ Class Styles ------ ------ */

/* ------ menuItem ------ */
.menuItem {
    /* menuItem div; dinner, breakfast, etc... */
    background-color: white;
    border-radius: 8px;
    padding: .15vh 1vw;
}

.menuItem:not(:first-child) {
    /* Applies to all menuItem's except for the first */
    margin-top: 2vh;
}

.menuItem h2 {
    /* Larger heading text inside of menuItem */
    text-decoration: underline;
    padding-left: .5vw;
}

.menuItem h3 {
    /* Smaller heading text inside of menuItem */
    border-bottom: 2px solid black;
    margin-bottom: .75vh;
    padding-left: 1vw;
}

.menuItem ul {
    /* List area inside of menuItem */
    list-style-type: none;
    margin: 0;
    padding-left: 1.5vw;
}

.menuItem ul li {
    /* Individual list item inside of menuItem */
    font-weight: bold;
    background-color: lightgrey;
    border-radius: 2px;
    padding-left: .35vw;
}

.menuItem ul p {
    /* Text description for menu items */
    margin-top: 4px;
    text-indent: 1.65vw;
    margin-bottom: 0;
}


.logo {
    /* The large website logo text, appears on header etc... */
    font-family: 'Permanent Marker', cursive;
    width: auto;
    display: inline-block;
    color: #ebc321;
    text-decoration: none;
    float: left;
    font-size: 2.1em;
    top: 50%;
    line-height: 4.75vh;
    vertical-align: middle;
    height: 4.75vh;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.logo:hover {
    /* The large website logo text when hovered on */
    color: #eb8d21;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.logoSmall {
    /* The small website logo text, appears on footer */
    font-family: 'Permanent Marker', cursive;
    width: auto;
    color: whitesmoke;
    text-decoration: none;
    float:none;
    font-size: 1.4em;
    top: 50%;
    margin: 0;
}

.logoSmall:hover {
    /* The small website logo text when hovered on */
    font-family: 'Permanent Marker', cursive;
    width: auto;
    color: rgb(221, 221, 221);
    text-decoration: none;
    float: none;
    font-size: 1.4em;
    top: 50%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.noMargin {
    /* Sets the margin of the element to 0 */
    margin: 0;
}

.noFloat {
    /* Sets the float value of an element to 0 */
    float: none;
    display: block;
}

.price {
    margin-top: 0;
    margin-bottom: 12px!important;
    font-style: italic;
    font-size: .75em;
}

.parallaxBG {
    min-height: 75vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5vh 5vw;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.parallaxText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.parallaxText h2 {
    color: white;
    font-size: 3em;
}

.parallaxText a {
    background: red;
    padding: 1.5%;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.parallaxText a:hover {
    background: salmon;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

/* ------ ------ ID Styles ------ ------ */

#footCopy {
    /* The copyright text on the footer */
    color: rgb(255, 255, 255);
    margin: .1vh 0;
}
